<div class="container">
  <div class="page-header">
    This page can be used to show history of <span class="mp_name_class"><%=params[:test_method]%></span> in <span class="mp_name_class"><%=params[:test_class]%></span>
</div>
