<style>
/* Code Styles */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;}

code {
  font-family: Courier, 'New Courier', monospace;
  font-size: 12px;}

#codeStyler {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1em 0;}

.computerGreen {
  background-color: #000000;
  color: green;}
</style>

<div class="container">
  <div class="jumbotron">
    <h1>Ahoy! </h1>
    <p>This webapp allows you to visualize data</p>
  </div>
  <br/>
  <br/>

  /:mp_name/?
  <br/>
<!-- HTML generated using hilite.me --><div style="background: #000000; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">  <span style="color: #00cdcd">@test_data</span> <span style="color: #3399cc">=</span> <span style="color: #3399cc">[</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">class</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;LoginViewTests&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd00cd">method</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;testHappyPath&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">pass</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">12</span><span style="color: #cccccc">,</span> <span style="color: #cd00cd">fail</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">54</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">days</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">40</span><span style="color: #cccccc">},</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">class</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;ProfileViewTests&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd00cd">method</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;testHappyPath&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">pass</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">132</span><span style="color: #cccccc">,</span> <span style="color: #cd00cd">fail</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">54</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">days</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">40</span><span style="color: #cccccc">},</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">class</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;SettingsViewTests&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd00cd">method</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;testHappyPath&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">pass</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">42</span><span style="color: #cccccc">,</span> <span style="color: #cd00cd">fail</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">14</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">days</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">40</span><span style="color: #cccccc">}</span>
  <span style="color: #3399cc">]</span>
</pre></div>
  
<br/>
    <p><a class="btn btn-primary" style="color:white" href="/SampleProject" role="button">/SampleProject</a></p>
<br/>

/:mp_name/:test_class/:test_method/?
<br/>

<!-- HTML generated using hilite.me --><div style="background: #000000; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">  <span style="color: #00cdcd">@test_data</span> <span style="color: #3399cc">=</span> <span style="color: #3399cc">[</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">date</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;2016-23-12&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">passed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">45</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">failed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">32</span><span style="color: #cccccc">},</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">date</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;2016-23-11&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">passed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">13</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">failed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">21</span><span style="color: #cccccc">},</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">date</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;2016-23-10&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">passed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">33</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">failed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">12</span><span style="color: #cccccc">},</span>
    <span style="color: #cccccc">{</span><span style="color: #cd0000">date</span><span style="color: #cccccc">:</span> <span style="color: #cd0000">&quot;2016-23-09&quot;</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">passed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">53</span><span style="color: #cccccc">,</span> <span style="color: #cd0000">failed</span><span style="color: #cccccc">:</span> <span style="color: #cd00cd">45</span><span style="color: #cccccc">},</span>
  <span style="color: #3399cc">]</span>
</pre></div>

<br/>
    <p><a class="btn btn-primary" style="color:white" href="/SampleProject/LoginViewTests/testHappyPath" role="button">/SampleProject/LoginViewTests/testHappyPath</a></p>
<br/>
<br/>
<br/>

</div>
