html{
	/* This image will be displayed fullscreen */
	/*background:url('background.jpg') no-repeat center center;*/
	
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	
	/* The Magic */
	background-size:cover;
}

.mp_name_class {
color: #f91212;
}

body{
	/* Workaround for some mobile browsers */
	min-height:100%;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

.container {
    color: 000;
    font-family: Courier;
    /*font-family: Verdana, sans-serif;*/
    font-size: 20px;
    margin: 55px;
    margin-left: 12%;
}

ol {
    margin-top: 50px;
    margin-left: 30px;
}

.container li a {
    margin-top: 20px;
    left: 60px;
    font-size: 14px;
    color: #000;
    /*text-decoration: none;*/
}

.container li a:hover {
    color: #666;
}

footer{
    position: absolute;
    margin-top: 10%;
    margin-left: 11%;
    font-family: Courier;
}

footer a{

    text-decoration: none;
}

